Package: com.dpkg.ccbigmodules
Name: CCBigModules
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: dpkg_
Author: dpkg_
Section: Tweaks
